weather_etl_project/
├── dags/                          
│   └── weather_etl_dag.py         
├── etl/                            
│   ├── extract.py                 
│   ├── transform.py               
│   ├── load.py                    
│   └── __init__.py
├── config/
│   └── cities.json                
├── key.json                       
├── .gitignore
├── requirements.txt
└── README.md
